body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-image {
  position: relative;
  width: 100%;
}

.home-text-header {
  color: beige;
  position: absolute;
  top: 170px;
  right: 30px;
  font-family: "Cantique";
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  z-index: 1;
}

.navbar-custom {
  background-color: brown;
}